/* ###########################  Body Styles   ####################################### */

body {
	background: #282828;
}


/* ########################## Navigator Styles ###################################### */

.navi {
	background: rgba(0,0,0,.8);
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: rgb(106, 127, 249);
}

.pushnav {
	background: none;
	color: white;
	border: 0px;
	font-size: 25px; 
	text-decoration: none;
}

.pushnav:hover {
	color: rgb(106, 127, 249);
}

/* Responsive of Navigator */ 

/* ########################## Banner Styles ###################################### */

.banner {
	background-image: url(../img/HeaderFondo.jpg);
	background-size: cover;
	height: 450px;
}

.title-one {
	color: white;
	text-align: center;
	padding-top: 150px;
	font-size: 40px;
	font-family: Gravity;
}

.title-one > p {
	margin: 0px;
}

.title-two {
	color: white;
	text-align: center;
	font-size: 21px;
}

.social-icons {
	align-content: center;
	text-align: center;
	margin-top: 70px;
	font-size: 19px;
}

.social-icons > a {
	color: white;
	cursor: pointer;
	margin: 5px;

}

.social-icons > a:hover {
	color: rgb(106, 127, 249);
}

/* ////////////////////////////////  Responsive of Banner /////////////////////////////////////////// */ 


@media screen and (max-width:992px){

	.title-one {
		font-size: 30px;
	}

	.title-two {
		font-size: 15px;
	}

}


@media screen and (max-width:768px){

	.banner {
		height: 350px;
	}

	.title-one {
		font-size: 25px;
	}

	.title-two {
		font-size: 13px;
	}
}


@media screen and (max-width:468px){

	.title-one {
		font-size: 20px;
	}

	.title-two {
		font-size: 10px;
	}
}



@media screen and (max-width:388px){

	.title-one {
		font-size: 20px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.title-two {
		padding-right: 0px;
		padding-left: 0px;
		font-size: 12px;
	}
}



/* ########################## Presentation Styles ###################################### */

.presen-section {
	background: rgb(248, 249, 250);
}

.title-sec {
	font-family: Gravity-B;
	color: #413f3f;
	padding-top: 50px;
	margin-bottom: 0px;
	text-align: center;
}

.line-sec {
	width: 80px;
    height: 1px;
    background-color: #6a7ff9;
    margin-top: 5px;
    margin-bottom: 3em;
}


.p-pics {
margin-right: 1.2em;
}

.presen-img {
	position: absolute;
	z-index: 2;
	border-radius: 250px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	border: white solid 3px;
	-webkit-box-shadow: 3px 3px 20px  #999;
	-moz-box-shadow: 3px 3px 20px  #999;
	padding: 0px;
}

.presen-img:hover{
	width: 54%;
	margin-left: 23%;
	margin-right: 23%;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

.presen-img-f {
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	position: absolute;
	z-index: 1;

}

.presen-name {
	margin-top: 23em;
	text-align: center;
	font-family: Gravity-B;

}

.presen-text > p {
	text-align: center;
}

.box-smallb {
	margin-top: 4em;
	text-align: center;
	margin-bottom: 5em;

}

.box-smallb > a {
	color: white;
	text-decoration: none;
}

.small-button {
	margin: 0px;
	background-color: #6a7ff9;
    font-family: Gravity-B;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
}



/* ////////////////////////////////  Responsive of Presentation /////////////////////////////////////////// */ 


@media screen and (max-width: 768px){

	.presen-img {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}

	.presen-img:hover {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}

	.presen-img-f {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
}

@media screen and (max-width: 576px){

	.presen-name{
		margin-top: 22em;
	}

}

@media screen and (max-width: 500px){

	.presen-name{
		margin-top: 18.5em;
	}

}

@media screen and (max-width: 411px){

	.presen-name{
		margin-top: 16em;
	}

}


/* ########################## Studies Styles ###################################### */


